<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.springCai.mapper.primaryMapper.UserMapper">
	<!-- 字段			说明
		id				ID
		name			名称
	-->

	<sql id="table">
		user
	</sql>

	<sql id="BaseColumnList">
		id,
		name
	</sql>

	<resultMap id="BaseResultMap" type="com.service.springService.user.entity.vo.UserVo">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<!-- 新增 -->
	<insert id="save" parameterType="com.service.springService.user.entity.po.User">
		INSERT INTO
		<include refid="table"/>
		(name)
		values
		(#{name,jdbcType=VARCHAR })
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.service.springService.user.entity.po.User">
		update <include refid="table" />
		<set>
			<if test="name != null and name != ''">
				name = #{name,jdbcType=VARCHAR }
			</if>
		</set>
		where
			id = #{id,jdbcType=INTEGER }
	</update>
	
	<!-- 列表查询 -->
	<select id="list" resultMap="BaseResultMap" parameterType="java.lang.String">
		select <include refid="BaseColumnList"/>
		from user
		where name like CONCAT('%', #{name,jdbcType=VARCHAR} ,'%')
	</select>

	<!-- id查询 -->
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select <include refid="BaseColumnList"/>
		from user
		where id = #{id,jdbcType=INTEGER }
	</select>

	<delete id="del" parameterType="java.lang.Integer">
		DELETE FROM user	where id = #{id,jdbcType=INTEGER }
	</delete>
</mapper>